.btn {
    outline: none;
    border: 0;
    border-radius: 16px;
    padding: 1rem 2rem;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 800;
    background-color: $primary-color;
    cursor: pointer;
}