.btn {
    outline: none;
    border: 0;
    border-radius: 16px;
    padding: 1rem 2rem;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 800;
    background-color: $primary-color;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: $primary-color-hover;
        color: set-text-color($primary-color-hover);
    }

    &.secondary {
        background-color: $secondary-color;

        &:hover {
            background-color: $secondary-color-hover;
            color: set-text-color($secondary-color-hover);
        }
    }
}