$background-color: #fff;

$primary-color: #9933cc;
$primary-color-hover: darken($primary-color, 10%);
$secondary-color:#222222;
$secondary-color-hover: darken($secondary-color, 10%);

$grey-color: #f0f0f0;
$dark-color: #3a3a3a;
$light-color: #fff;