.job {
    margin: 3rem 10%;
    text-align: justify;

    &__title {
        font-weight: 900;
        font-size: 2.5em;
        margin-bottom: 1rem;
    }

    &__primary {
        color: $primary-color;
    }

    &__form {
        padding: 3rem 1.5rem;

        &__field {
            position: relative;
            width: 100%;
            margin-bottom: 2rem;

            & > input, & > textarea, & > select {
                resize: vertical;
                width: 100%;
                height: 60px;
                border-radius: 6px;
                font-size: 18px;
                padding: 0 15px;
                border: 2px solid #ccc;
                background: transparent;
                color: #000;
                outline: none;
                transition: border-color 0.4s ease;

                &:focus {
                    border-color: $primary-color;
                }

                &:focus ~ .job__form__label, &:valid ~ .job__form__label {
                    transform: translate(-0.5rem, -2.75rem);
                    // top: 0;
                    font-size: 16px;
                    padding: 0 2px;
                    background: $background-color;
                }
            }

            & > label {
                font-size: 19px;
                display: block;
            }

            & > .job__form__label {
                position: absolute;
                top: 50%;
                left: 1.5rem;
                transform: translateY(-50%);
                pointer-events: none;
                transition: transform 0.3s ease;
            }
        }
    }
}