.job {
    margin: 3rem 10%;
    text-align: justify;

    &__title {
        font-weight: 900;
        font-size: 2.5em;
        margin-bottom: 1rem;
    }

    &__primary {
        color: $primary-color;
    }
}